body {
  width: 100%;
  position: relative;
  font-family: Helvetica, arial;
  background-color: #000;

}

#content-wrapper {
  display: block;
  width: 920px;
  padding: 30px 30px 100px 30px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #fff;
  background: url("../images/RoundedCorners.png") #FFF repeat-x left bottom;
}

#submit-button:hover {
	background-color: #333;
	color: #FFF;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

a, a:visited, a:link, a:active {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
}

/* --------------------- Login page -----------------------*/
.general-field { 
	overflow: hidden;
	clear: both;
	display: block;
	height: 65px;
	margin: 10px 0;
	line-height: 30px;	
}

.general-field .date{
	height: 60px;
}           

.general-field input {
	width: 300px;
	height: 30px;
	font-size: 1.2em;
	float: left;
	margin-left: 2px;
	margin-bottom: 15px; 
}

#page-login #content-wrapper {
	background-color: #000;
	background-image: none;
}
#page-login #content {
	width: 600px;
	height: 400px;
	padding: 40px 40px 60px 40px;
	margin: 0 auto;
  	background: url("../images/RoundedCorners.png") #FFF repeat-x left bottom;
	border-radius: 20px 20px 0 0;
	box-shadow: 0 0 5px #000;
}
#page-login h1 {
	width: 200px;
	float: left;
	text-align: left;
}

#login #submit-button {
  display: block;
  clear: both;
  margin: 15px auto 0 auto;
}
#tabs #submit-button {
	margin: 15px 0 0 0;
}
#login {
  overflow: hidden;
  width: 350px;
  margin: 0 auto;
}
#login label {
  display: block;
  margin: 0 10px 0 2px;
  width: 200px;
  /*float: left;*/
  line-height: 24px;
  text-shadow: 1px 1px #ccc;
}
#username-input input,
#password-input input {
	width: 300px;
	height: 30px;
	font-size: 1.2em;
	float: left;
	margin-left: 2px;
	margin-bottom: 15px;
}
#username-input,
#password-input {  
  clear: both;
  display: block;
  height: 65px;
  margin: 10px 0;
  line-height: 30px;
}
#submit-button {
  width: 60px;
  cursor: pointer;
}

#login #submit-button {
	display: block;
	clear: both;
	/*float: right;*/
	margin: 0;
	border-radius: 5px;
	background-color: #ccc;
	padding: 5px;
	font-size: 0.8em;
	border: none;
}

/* --------------------- Front Page ----------------------- */
#page-front .content-col {
	width: 300px;
	height: 600px;
	margin-right: 10px;
	float: left;
	background-color: #CCC;
}
#page-front .col-1 {
	
}
#page-front .col-2 {
	text-align: center;
}
#page-front .col-3 {
	margin: 0;
}
/*
#page-front .content-col .set {
	width: 300px;
	overflow: hidden;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #333;
	display: block;
	float: left;
}
*/
#page-front .content-col .accordion_content {
	background-color: #FFF;
	border-bottom: 1px solid #333;
	overflow: hidden;
	float: left;
	width: 280px;
	padding: 0 10px;
	font-size: 0.8em;
}

#page-front .content-col .accordion_title {
	float: left;
	border-bottom: 1px solid #333;
}
#page-front .content-col .set.active .accordion_title {
	background-color: #FFF;
}

#page-front .col-1 .set1 .accordion_content {display: block;}
#page-front .content-col .accordion_title h3 {
	margin: 0;
	width: 280px;
	height: 24px;
	line-height: 24px;
	padding: 5px 10px;
	font-size: 1em;
}
#page-front .content-col .accordion_title:hover,
#page-front .content-col .ui-state-active {
	background-color: #FFF;
	border: none;
}
#page-front .col-3 .set {
	height: 50px;
}
#page-front .col-3 .set .accordion_title {
	display: block;
	overflow: hidden;
}

#page-front .col-3 .accordion_title h3 {
	width: 100px;
	height: 40px;
	line-height: 40px;
	float: left;
}
#page-front .col-3 .accordion_title p {
	width: 170px;
	height: 40px;
	line-height: 40px;
	display: block;
	float: left;
	margin: 0;
	padding: 5px 10px 5px 0;
	font-size: 0.8em;
	text-align: right;
}
/* --------------------- Event List -----------------------*/
#page-event-list #content-wrapper {
	margin-top: 40px;
	/*border: 1px solid #CCC;*/
	border-radius: 20px 20px 0 0;
	box-shadow: 0 0 5px #000;
}
#page-event-list h1 {
	text-align: left;
	width: 300px;
	float: left;
}
#search{
	width: 270px;
	margin: 20px 0;
	display: block;
	overflow: hidden;
	float: right;
}
#search label {
  position: absolute;
  text-align: -999em;
  overflow: hidden;
}
#search-input {
	width: 210px;
	height: 30px;
	float: left;
}
#search-input input {
	width: 200px;
	height: 20px;
}
#search #submit-button {
	display: block;
	/*margin: 15px 0 0 0;*/
	border-radius: 5px;
	background-color: #CCC;
	padding: 5px;
	font-size: 0.8em;
	border: none;
	float: right;
}
table.event-container {
	width: 920px;
	clear: both;
}
table.event-container thead tr th.event-title,
table.event-container tbody tr td.event-title {
	text-align: left;
	padding-left: 10px;
}
table.event-container tr {
	width: 920px;
	height: 50px;
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #666666;
}
table.event-container tr.even {
	background-color: #F2F2F2;
}
table.event-container tr.hover {
	background-color: #CCC;
}
table.event-container tr td {
	text-align: center;
}

table.event-container tr .event-news,
table.event-container tr .event-subscriber,
table.event-container tr .event-update {
	width: 120px;
}
.event-title {
	width: 500px;
}
table thead tr th {
	height: 50px;
}
table thead tr th,
table tbody tr td {
	height: 49px;
	line-height: 49px;
	display: block;
	float: left;
}

.pager-wrapper {
	text-align: center;
}
ul.pager {
	overflow: hidden;
	text-align: center;
	float: right;
	padding: 0;
	margin: 20px 0 10px 0;
}
ul.pager li {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.pager li {
	float: left;
	margin: 0 5px;
}
ul.pager li.dot,
ul.pager li a,
ul.pager li.page-number a {
	width: 20px;
	height: 20px;
	line-height: 20px;
	padding: 5px;
	display: block;	
}
ul.pager li.prev a{
	width: 65px;
}
ul.pager li.current a {
	background-color: #CCC;
	border-radius: 5px;
}
ul.pager li.current a:hover {
	color: #FFF;
}

/* --------------------- News list -----------------------*/
#page-news-list #content-wrapper,
#page-front #content-wrapper {
	margin-top: 40px;
	/*border: 1px solid #CCC;*/
	border-radius: 20px 20px 0 0;
	/*box-shadow: 0 0 5px #000;*/
}

#news-list {
	width: 540px;
	overflow: hidden;
	float: left;
}

#page-news-list h1 {
	text-align: left;
	width: 250px;
	float: left;
}
#news-list .news-items {
	margin-top: 20px;
}
#news-list .news-items .rows {
	display: block;
	width: 520px;
	padding: 10px 10px;
	border-bottom: 1px solid #CCC;
}
#news-list .news-items .rows:hover {
	background-color: #f2f2f2;
}
#news-list .news-items .rows .news-writer,
#news-list .news-items .rows .news-title,
#news-list .news-items .rows .news-date {
	margin-bottom: 8px;
}

#news-list .news-items .rows .news-writer,
#news-list .news-items .rows .news-date {
	color: #666666;
}
#send-message {
	width: 540px;
	overflow: hidden;
	display: block;
}

#send-message #edit-message {
	width: 528px;
	line-height: 20px;
	padding: 10px 0 0 10px;
	
	margin-bottom: 20px;
}
#send-message #submit-button {
	width: 135px;
	display: block;
	/*margin: 15px 0 0 0;*/
	border-radius: 5px;
	background-color: #CCC;
	padding: 10px;
	font-size: 1em;
	border: none;
	float: right;
}


/* --------------------- Event Details ----------------------- */
#event-detail {
	width: 280px;
	margin: 0 30px;
	padding: 20px;
	overflow: hidden;
	float: left;
	background-color: #CCC;
	border-radius: 10px;
}
#event-detail h2 {
	margin-top: 0;
	width: 280px;
}

.event-subscriber-list ol {
	padding: 0 0 0 30px;
}
.event-description,
.event-news-count {
	margin-bottom: 20px;
}

